__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

.env
.venv
env/
venv/
ENV/

*.ipynb_checkpoints/
.ipynb_checkpoints/

*.pt
*.pth
*.onnx

.DS_Store
Thumbs.db

*.log
outputs/
*.npy

.vscode/
esp32/cam_board/main/model/
python/checkpoints/
python/data/

managed_components/